<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS</title>
    <style>
        .modal {
            position: fixed;
            top: 100px;
            left: 10%;
            width: 80%;
            background-color: #ccc;
        }
    </style>
</head>
<body>

    <div id="app">
        <h1>JS</h1>

        <p>{{ cantidad }}</p>

        <button @click="incrementar">Sumar</button>

        <ul>
            <li v-for="todo in todos">{{ todo }}</li>
        </ul>

        <input type="text" v-model="currentTodo">

        <button @click="cargarTodo">Cargar todo</button>

        <div v-if="visible" class="modal">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aspernatur, dignissimos, in voluptate suscipit illo nulla dolorum dolores cupiditate deleniti rerum? Nisi recusandae modi porro mollitia optio dolore labore repudiandae?</p>
            <p><a href="#" @click="cerrarModal">Cerrar</a></p>
        </div>

        <p><button @click="mostrarModal">Acción</button></p>

    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
        // //Declaración
        // let variable = 'valor' + ' otra cosa';
        // let numero = 1 + 2;
        // const constante = 'valor';
        // // var variable2 = 'valor';

        // // function saludar(nombre) {
        // //     console.log(nombre);
        // // }

        // let saludar = nombre => console.log(nombre);

        // const usuario = {
        //     nombre: 'Bort',
        //     edad: 10
        // }

        // saludar(usuario.edad);

        const DeTodo = {
            data() {
                return {
                    cantidad: 10,
                    todos: [
                       'Hacer TP2' ,
                       'Practicar',
                    ],
                    currentTodo: '',
                    visible: true,
                };
            },
            methods:  {
                incrementar() {
                    this.cantidad++
                },
                cargarTodo() {
                    this.todos.push(this.currentTodo);

                    this.currentTodo = '';
                },
                cerrarModal() {
                    this.visible = false;
                },
                mostrarModal() {
                    this.visible = true;
                }
            }
        }

        Vue.createApp(DeTodo).mount('#app');
    </script>
</body>
</html>